html {
    width: 100%;
    height: 100%;
    display: table;
    background-color: black;
}

body {
    width: 100%;
    display: table-cell;
    background-color: black;
}

html,
body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: black;
}

#messageDiv {
    display: none;
    width: 200;
    height: 200;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

#messageText {
    color: green;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
}

#connectionStatus {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 300px;
    width: 12px;
    height: 12px;
    background-color: red;
}

#resetButton {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 0, 0);
    left: 0px;
    top: 0px;
}

#heart {
    position: relative;
    width: 100px;
    height: 90px;
    animation: heartbeat 1s infinite;
    margin: 0 auto
}

#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #fff;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}



@keyframes heartbeat {
    0% {
        transform: scale(.75);
    }

    20% {
        transform: scale(1);
    }

    40% {
        transform: scale(.75);
    }

    60% {
        transform: scale(1);
    }

    80% {
        transform: scale(.75);
    }

    100% {
        transform: scale(.75);
    }
}